---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import MentionList from '@/components/mentions/MentionList.astro';
import NonEnglishHeadlines from '@/components/mentions/NonEnglishHeadlines.astro';
import Breadcrumbs from '@/components/mentions/Breadcrumbs.astro';
import type { Crumb } from '@/components/mentions/Breadcrumbs.astro';

const mentions = await getCollection('mentionExcerpts');
const sortedMentions = mentions.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const crumbs: Crumb[] = [{ label: 'Media Mentions' }];
const title = "Media Mentions";
const description = "Press mentions and media coverage of HackerspaceSG";
const heading = title;
---

<Layout {title} {description}>
  <div class="prose mx-8 my-8 md:mx-auto">
    <Breadcrumbs {crumbs} />
    <MentionList
      {title}
      {description}
      {heading}
      mentions={sortedMentions}
    />
    <NonEnglishHeadlines mentions={sortedMentions} />
  </div>
</Layout>
