---
import * as config from '@/config.ts';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title?: string;
  description?: string;
  canonicalURL?: string;
}

const {
  title = null,
  description = null,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const pageTitle = title
  ? `${title}  •  ${config.site.title}`
  : `${config.site.title}: ${config.site.tagline}`;

const socialTitle = title
  ? `${title} from ${config.site.title}`
  : `${config.site.title}`;

const pageDescription = description
  ? `${description}`
  : config.site.description;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png?v=20240923"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/favicon-32x32.png?v=20240923"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/favicon-16x16.png?v=20240923"
  />
  <link rel="manifest" href="/site.webmanifest?v=20240923" />
  <link
    rel="mask-icon"
    href="/img/safari-pinned-tab.svg?v=20240923"
    color="#ce1426"
  />
  <link rel="shortcut icon" href="/favicon.ico?v=20240923" />
  <meta name="msapplication-TileColor" content="#2b5797" />
  <meta name="msapplication-config" content="/browserconfig.xml?v=20240923" />
  <meta name="theme-color" content="#3f3f46" />

  <link rel="canonical" href={canonicalURL} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <title>
    {pageTitle}
  </title>

  <meta name="title" content={pageTitle} />
  <meta name="description" content={pageDescription} />

  <meta property="og:title" content={socialTitle} />
  <meta property="og:description" content={pageDescription} />
  <meta property="og:url" content={canonicalURL} />

  <meta property="twitter:title" content={socialTitle} />
  <meta property="twitter:description" content={pageDescription} />
  <meta property="twitter:url" content={canonicalURL} />

  <ViewTransitions />
</head>
